.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 100px;
    flex-direction: column;
}

#draw {
    display: flex;
}

#buttons-group {
    display: flex;
}

.button {
    margin: 20px;
}

#main {
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
}

.panel .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .options .option {
    width: 10px;
    height: 10px;
    margin: 4px;
    cursor: pointer;
}

.current-option {
    margin-left: 2px;
    margin-top: 30px;
    width: 15px;
    height: 15px;
}